<field-product-validate>
  <div>
    <field-validate required={ true } { ...props } />
  </div>
  
  <script>
    // export default
    export default class FieldProductValidate {
      
    }
    
  </script>
</field-product-validate>