<order-payment>
  <div id="order-payment" />

  <script>

    export default class OrderPayment {

      /**
       * on mounted
       */
      onMounted(props, state) {
        // check frontend
        if (typeof window === 'undefined') return;

        // mount
        this.props.page.view('#order-payment', 'view', props, 'connect', props.payment.type);
      }
    }
  </script>
</order-payment>